<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <img src="../images/dsc_0012.jpg" class="img-responsive" alt="Bread" class="img-rounded">
            </div>
    </div>